.sidebar {
    background: #ecf0f3;
    position: fixed;
    top: 117px;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    z-index: 10;
    overflow-x: hidden;
    transition: width 0.3s;
    width: 70px;
    white-space: nowrap;
}

.sidebar span {
    overflow-x: hidden;
    transition: opacity 0.3s;
    opacity: 0;
}

.sidebar:hover {
    width: 240px;
}

.sidebar:hover span {
    opacity: 1;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    justify-content: center;
    margin: 10px;
}

.sidebar ul li i {
    margin: (2 * .25);
}
